

.cube .front {
    transform: translateZ(65px);/* original 100px */
}

.cube .back {
    transform: rotateX(-180deg) translateZ(65px);/* original 100px */
}

.cube .right {
    transform: rotateY(90deg) translateZ(65px);/* original 100px */
}

.cube .left {
    transform: rotateY(-90deg) translateZ(65px);/* original 100px */
}

.cube .top {
    transform: rotateX(90deg) translateZ(65px);/* original 100px */
}

.cube .bottom {
    transform: rotateX(-90deg) translateZ(65px);/* original 100px */
}

.diceContainer {
    width: 130px;
    height: 130px;
    position: relative;
    margin: auto;/*-65px auto 40px;   /*original safe values; 0 auto 40px;*/
    border: 1px solid #FFF;
    perspective: 1000px;
    perspective-origin: 50% 100%;
}

.cube {
    width: 100%;
    height: 100%;
    /*top: 100px;*/
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 6s;
}

    .cube:hover {
        cursor: pointer;
    }

    .cube div {
        background: hsl(58deg 38% 92%);
        display: block;
        position: absolute;
         width: 125px;/* original 200px */
        height: 25px;/* riginal 100px */
        border: 2px solid #000000;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 500%;
        text-align: center;
        padding: 50px 0;
    }

.dot {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(0, 0, 0);
    border-radius: 15px;
}

.front .dot1 {
    top: 48px;
    left: 48px;
    
}

.back .dot1 {
    top: 15px;
    left: 15px;
}

.back .dot2 {
    top: 80px;
    left: 80px;
}

.right .dot1 {
    top: 15px;
    left: 15px;
}

.right .dot2 {
    top: 48px;
    left: 48px;
}

.right .dot3 {
    top: 80px;
    left: 80px;
}

.left .dot1 {
    top: 15px;
    left: 15px;
}

.left .dot2 {
    top: 15px;
    left: 80px;
}

.left .dot3 {
    top: 80px;
    left: 15px;
}

.left .dot4 {
    top: 80px;
    left: 80px;
}

.top .dot1 {
    top: 15px;
    left: 15px;
}

.top .dot2 {
    top: 15px;
    left: 80px;
}

.top .dot3 {
    top: 48px;
    left: 48px;
}

.top .dot4 {
    top: 80px;
    left: 15px;
}

.top .dot5 {
    top: 80px;
    left: 80px;
}

.bottom .dot1 {
    top: 15px;
    left: 15px;
}

.bottom .dot2 {
    top: 15px;
    left: 48px;
}

.bottom .dot3 {
    top: 15px;
    left: 80px;
}

.bottom .dot4 {
    top: 80px;
    left: 15px;
}

.bottom .dot5 {
    top: 80px;
    left: 48px;
}

.bottom .dot6 {
    top: 80px;
    left: 80px;
}
