body {
    background-image: url("../pics/diceGreenBkGrnd.jpg");
    background-size:100vw 100vh;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#PlayBoard div{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.diceAndButtonDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#dices {
    height: 140px;
    clear: both;
}

#buttonsDiv {
    padding: auto;
}

.btnSection {
    width: 165px;
    height: 75px;
    position: relative;
    margin: auto;
}

#ShakeBtnDiv{
    padding: auto;
    height:55px ;
   
}

.dicesBtns {
    font-family: 'Langar', cursive;
    margin: auto;
    font-size: 1.5em;
    border-radius: 20px;
    margin-top: 10px;
    background-color: hsl(220deg 28% 29% / 61%);
    box-shadow: 5px 5px 5px 5px black;
}

.dicesBtnsUp {
    width: 160px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: hsl(220deg 28% 29% / 61%);
    box-shadow: 5px 5px 5px 5px black;
}

.dicesBtnsDn {
    width: 155px;
    height: 44px;
    color: hsla(100,100%,50%,1);
    background-color:  hsla(220, 29%, 20%, .84);
    box-shadow: 2px 2px 3px 3px black;
}

.dicesBtnsDisable {    
    color: rgb(66, 92, 53);    
}

.buttonHover {
    width: 158px;
    height: 48px;
    color: black;
    background-color: hsl(220deg 28% 29% / 86%);
    box-shadow: 2px 2px 5px 5px black;
}

.numbers {
    font-family: 'Langar', cursive;
    font-size: 160px;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    table-layout: fixed;
    max-height: 400px;
    width: 55%;
    /* min-width: 25em; */
    margin: 5px;
    margin-top: 15px;
    border-radius: 20px;
    border:solid 3px;
    background-color: rgb(255, 248, 220);
}

th,
td {
    font-family: 'Langar', cursive;
    font-size: 1.8em;
    text-align: center;
}

.top_left_cell {
    border-top-left-radius: 18px;
}

.top_right_cell {
    border-top-right-radius: 18px;
}

.buttom_cell {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.title {
    margin-top: -40px;
    margin-bottom: -20px;
    padding: 1px;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 5em;
    color: hsl(49, 36%, 15%);
    text-shadow: 1px 1px 2px rgb(252, 164, 2), 0 0 25px rgb(255, 238, 0), 0 0 5px darkblue;
}

.goalBtn{
    font-family: 'Langar', cursive;
    font-size: xx-large;
    background-color: hsl(22deg 28% 29% / 61%);
    box-shadow: 2px 1px 5px 2px black;
    width: 200px;
    height: 50px;
    margin-right: 0.2em;
    margin-left: 0.2em;
    border:solid;
    border-radius: 20px;
    
}
.goalBtnDn{
    width: 190px;
    height: 48px;
    margin-right: 16px;
    background-color: hsla(60, 100%, 70%, 0.77);
    box-shadow: 1px 1px 2px 1px black;
}
.goalBtn:hover{
    background-color: hsla(60, 43%, 49%, 0.77);
    box-shadow: 1px 1px 3px 2px black;
}

#ptsToRemove_box {
    height: 45px;
    width: 50px;
    font-family: 'Langar', cursive;
    font-size: xx-large;
    margin-left: 20px;
    border-radius: 10px;
}

.msgBox {
   
    height: 2em;
    width: 85%;
    text-align: center;
    background-color: rgb(255, 248, 220);
    margin-top: 20px;
    border-radius: 20px;
    border: solid 3px;
    font-family: 'Langar', cursive;
    font-size: 2em;
}
.msgBox div{   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copywright {
    
    bottom: 0px;
    position:fixed;
    
    background-color: rgba(255, 248, 220, 0.562);
    border-radius: 20px;
    padding-right: 1em;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1280px) {
    body{
        font-size: 0.8em;
    }
    
    .title {
        font-size: 2em;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .msgBox {
        height: 4.3em;
        /* width: 100%; */
    }
    
    table{
        table-layout:auto;
        max-height: 400px;
        /* width: 100%;        */
    }
    #PlayBoard div {
        zoom:0.95;
      }
      
    
}

@media only screen and (max-width: 1000px) {
    .msgBox {
        height: 4.3em;
        width: 100%;
    }
    
    table{
        table-layout:auto;
        max-height: 400px;
        width: 100%;       
    }
    #PlayBoard div div{
        flex-basis: 25%;
      }
}
@media only screen and (max-width: 600px) {
    #PlayBoard div{
      zoom:0.89;
    }
    #PlayBoard div div{
        flex-basis:auto;
      }
    .msgBox {   
        zoom:0.8;
    }
}

@media only screen and (min-width: 2200px) {
    body{
        zoom:1.8;
    }
}