body {
    background-image: url("../pics/diceGreenBkGrnd.jpg");
    background-size:100vw 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dices {
    height: 140px;
    clear: both;
}

#buttonsDiv {
    /*margin-top:-50px;*/
    height: 75px;
}

.btnSection {
    width: 165px;
    height: 75px;
    position: relative;
    margin: auto;
}

.buttonUp {
    width: 160px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: hsl(220deg 28% 29% / 61%);

    box-shadow: 5px 5px 5px 5px black;
}

.dicesBtns {
    font-family: 'Langar', cursive;
    margin: auto;
    font-size: x-large;
    border-radius: 20px;
    margin-top: 10px;
}

.buttonDn {
    width: 155px;
    height: 44px;
    color: hsla(100,100%,50%,1);
    background-color:  hsla(220, 29%, 20%, .84);
    box-shadow: 2px 2px 3px 3px black;
}

.buttonHover {
    /* width: 198px;
    height: 73px; */
    color: black;
    background-color: hsl(220deg 28% 29% / 86%);
    box-shadow: 2px 2px 5px 5px black;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 200px;
    margin: 10px;
    border: 5px solid hsla(228, 95%, 48%, 0.93);
    border-radius: 20px;
}

.numbers {
    font-family: 'Langar', cursive;
    font-size: 160px;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    max-height: 400px;
    width: 1000px;
    margin: 5px;
    margin-top: 25px;
    border-radius: 20px;
    border:solid 3px;
    background-color: rgb(255, 248, 220);
}

th,
td {
    font-family: 'Langar', cursive;
    font-size: 40px;
    text-align: center;
}

.top_left_cell {
    border-top-left-radius: 18px;
}

.top_right_cell {
    border-top-right-radius: 18px;
}

.buttom_cell {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.title {
    margin-top: -40px;
    margin-bottom: -20px;
    padding: 1px;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    font-size: 100px;
    color: hsl(49, 36%, 15%);
    text-shadow: 1px 1px 2px rgb(252, 164, 2), 0 0 25px rgb(255, 238, 0), 0 0 5px darkblue;
}

.goalBtn{
    background-color: rgba(255, 248, 220, 0.568);
    padding-left:10px;
    padding-right:10px;
    border:solid;
    border-radius: 20px;
    margin-left:10px;
    margin-right:10px;
}

.copywright {
    position: fixed;
    bottom: 0;
    float: left;
    position: absolute;
    background-color: rgba(255, 248, 220, 0.562);
    border-radius: 20px;
padding-right: 1em;
margin-bottom: 1em;
}